a {
    color: #5867dd;    
}

.file-manager-window {
    height: 100%;
    overflow-y: auto;
    position: relative;
    padding: 10px 0;
    margin: -5px;
}

.file-manager-window .folder,
.file-manager-window .file {
    display: block;
    width: 10%;
    padding: 5px;
    float: left;
}

.file-manager-window .f-content-area {
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 35px;
    background-color: #f8f8f8;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 45px;
    height: 45px;
    padding: 0 8px 0 45px;
    margin: -1px 0 0;
    cursor: default;
    position: relative;
    border: 1px solid #eaeaea;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 4px;
}

.file-manager-window .f-content-area .icon {
    font-size: 2rem;
    color: #777;
    text-align: center;
    width: 28px;
    line-height: 28px;
    margin-top: -14px;
    position: absolute;
    left: 10px;
    top: 50%;
}

.file-manager-window .f-content-area .icon.select {
    font-size: 2.2rem;
    color: #4da1e2;
    margin-left: -2px;
}

.file-manager-window .locked .f-content-area .icon {
    color: #46bf3f;
}

.file-manager-window .f-content-area:before {
    content: attr(title);
    padding-left: 2px;
}

.file-manager-window .folder.ui-selecting .f-content-area,
.file-manager-window .folder.drop-container .f-content-area,
.file-manager-window .file.ui-selecting .f-content-area {
    border: 1px solid #CEE8FC;
    background-color: rgba(0, 139, 255, 0.06);
    z-index: 1;
}

.file-manager-window .folder.ui-selected .f-content-area,
.file-manager-window .file.ui-selected .f-content-area,
.ui-selectable-helper {
    border: 1px solid #96D1FC !important;
    background-color: rgba(0, 149, 255, 0.11) !important;
    z-index: 2 !important;
}
.file-manager-window :not(.ui-selected) .f-content-area .icon.select,
.file-manager-window .ui-selected .f-content-area .icon:not(.select) {
    display: none;
}

.file-manager-window .folder.shared .f-content-area,
.file-manager-window .file.shared .f-content-area {
    padding-right: 35px;
    position: relative;
}

.file-manager-window .f-content-area:after {
    display: inline-block;
    font: normal normal normal 26px/1 LineAwesome;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.file-manager-window .folder.shared .f-content-area:after,
.file-manager-window .file.shared .f-content-area:after {
    font: normal normal 900 14px/1 'Font Awesome\ 5 Free';
    content: '\f1e0';
    color: #777;
    margin-top: -7px;
    position: absolute;
    right: 7px;
    top: 50%;
}

.file-manager-window .folder.cut,
.file-manager-window .file.cut {
    opacity: 0.6;
}

.file-manager-window .ui-draggable-dragging {
    background-color: rgba(255, 243, 230, 0.5) !important;
    border: 1px solid #fcca96 !important;
    z-index: 999;
}

.list-view .folder,
.list-view .file {
    width: 100%;
    padding: 0 10px 0 45px;
    background-position: 5px center;
    background-size: 30px;
    text-align: left;
    height: 45px;
    overflow-y: hidden;
}

.list-view .folder .f-content-area:before,
.list-view .file .f-content-area:before {
    line-height: 45px;
    display: block;
    overflow: hidden;
    white-space: pre;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.file-manager-container .navbar {
    height: 50px;
    line-height: 50px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: none;
}

.file-manager-container .nav a:not(.disabled):hover {
    background-color: rgba(88, 103, 221, 0.1);
}

.file-manager-container .navbar-collapse {
    display: block;
    padding-right: 15px;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.file-manager-container .search-bar .form-group {
    margin: 6px 0px;
} 

.file-manager-container .search-bar .form-group .form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0px;
    height: 35px;
    padding-left: 7px;
}

.file-manager-container .search-bar .form-group .form-control:focus {
    border: 1px solid #ced4da;
}

.nav-seperator {
    height: 50px;
    width: 1px;
    float: left;
    background-color: #e7e7e7;
}

.file-manager-container .navbar-nav {
    display: block;
    float: left;
    margin: 0;
}

.file-manager-container .navbar-nav:after {
    content: '';
    display: block;
    clear: both;
}

.file-manager-container .navbar-nav>li {
    text-align: center;
    float: left;
}

.file-manager-container .nav a {
    line-height: 20px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    min-width: 45px;
    padding: 15px 0;
    top: 0;
}

.file-manager-container .nav a.disabled {
    color: #cdcdcd !important;
    pointer-events: none;
}

.file-manager-container .breadcrumb {
    font-family: monospace;
    font-size: 14px;
    color: #555;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 4px;
}

.file-manager-container .breadcrumb:before {
    display: none;
}

.file-manager-container .breadcrumb li:not(:last-child) > *:after {
    content: '/';
}

.file-manager-container .breadcrumb li a {
    text-decoration: none !important;
}

.file-manager-container .navbar-form {
    padding: 7px 0 6px;
}

.file-manager-container .navbar-form .form-group {
    margin-bottom: 0;
}

.file-manager-container .progress-bar-container {
    font-size: 85%;
    font-weight: 500;
    text-align: center;
    border: 1px solid #eaeaea;
    padding: 2px 0;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.file-manager-container .progress-bar-container .info {
    color: #797c89;
    position: relative;
}

.file-manager-container .progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: all 0.3s;
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
    padding: 25px;
}

.modal .modal-body {
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
}

.modal .modal-footer {
    height: auto;
}

.modal .modal-header .modal-title {
    display: inline;
}

@media screen and (min-width: 768px) {
    .file-manager-container .navbar-right {
        float: right !important;
    }
    .file-manager-window .folder:hover .f-content-area,
    .file-manager-window .file:hover .f-content-area {
        border: 1px solid #CEE8FC;
        background-color: rgba(0, 139, 255, 0.06);
        z-index: 1;
    }
}

@media screen and (max-width: 2200px) {
    .file-manager-window .folder,
    .file-manager-window .file {
        width: 12.5%;
    }
}

@media screen and (max-width: 1800px) {
    .file-manager-window .folder,
    .file-manager-window .file {
        width: 20%;
    }
}

@media screen and (max-width: 1200px) {
    .file-manager-window .folder,
    .file-manager-window .file {
        width: 25%;
    }
}

@media screen and (max-width: 991px) {
    .file-manager-window .folder,
    .file-manager-window .file {
        width: 33.333333%;
    }
}

@media screen and (max-width: 767px) {
    .file-manager-window .folder,
    .file-manager-window .file {
        width: 50%;
    }
    .file-manager-container .navbar-collapse {
        padding-left: 15px;
    }
    .file-manager-container .navbar-default .navbar-collapse,
    .file-manager-container .navbar-default .navbar-form {
        border-top: none;
    }
    .file-manager-container .navbar-form {
        padding-top: 0;
        padding-bottom: 15px;
        margin-top: 0;
        margin-bottom: 0;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .file-manager-container .navbar-nav {
        float: none;
    }
    .file-manager-container .navbar-nav li a {
        min-width: 50px;
    }
}

@media screen and (max-width: 580px) {
    .file-manager-window .folder,
    .file-manager-window .file {
        width: 100%;
    }
}

.file-manager-window .folder, .file-manager-window .file { 
    display: block; 
    width: 10%; 
    padding: 5px; 
    float: left; 
} 
 
@media screen and (max-width: 2200px) { 
    .file-manager-window .folder, .file-manager-window .file { 
        width: 12.5%; 
    } 
}
