<div class="file-manager-wrapper">
    <div class="file-manager-container">
        <nav class="navbar navbar-default">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li title="Level up">
                        <a href="javascript:;" style="font-size:1.5rem;" [ngClass]="getLevelUpButtonClass()" (click)="levelUpButtonOnClick($event)"></a>
                    </li>
                    <li title="Upload">
                        <a href="#upload_modal" style="font-size:1.5rem;" class="modal-trigger fas fa-cloud-upload-alt"></a>
                    </li>
                    <li title="New directory">
                        <a href="#new_directory_modal" style="font-size:1.5rem;" class="modal-trigger fas fa-folder" (click)="newDirectoryButtonOnClick($event)">
                            <!-- <span style="position:relative;left:-22px;color:#fff;font-family:Vardana;font-size:17px;top:-2px;font-weight:600;">+</span> -->
                        </a>
                    </li>
                    <li title="Cut">
                        <a href="javascript:;" [ngClass]="getCutButtonClass()" (click)="cutButtonOnClick($event)"></a>
                    </li>
                    <li title="Paste">
                        <a href="#paste_modal" [ngClass]="getPasteButtonClass()"></a>
                    </li>
                    <li title="Delete">
                        <a href="#delete_modal" [ngClass]="getDeleteButtonClass()"></a>
                    </li>
                    <li title="Rename">
                        <a href="#rename_modal" [ngClass]="getRenameButtonClass()" (click)="renameButtonOnClick($event)"></a>
                    </li>
                    <li title="Download">
                        <a href="javascript:;" [ngClass]="getDownloadButtonClass()" (click)="downloadButtonOnClick($event)"></a>
                    </li>
                    <li title="Share">
                        <a href="#share_modal" [ngClass]="getShareButtonClass()"></a>
                    </li>
                </ul>
                <form class="right search-bar" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" (keyup)="inputFieldOnKeyup($event)">
                    </div>
                </form>
            </div>
        </nav>
        <ul class="breadcrumb">
            <li class="left" *ngFor="let breadcrumb of breadcrumbs;let i = index">
                <a href="javascript:;" *ngIf="breadcrumbs.length - 1 !== i" (click)="breadcrumbOnClick($event, breadcrumb)">{{breadcrumb.name}}</a>
                <span *ngIf="breadcrumbs.length - 1 === i" (click)="breadcrumbOnClick($event, breadcrumb)">{{breadcrumb.name}}</span>
            </li>
            <li class="clearfix"></li>
        </ul>
        <div class="file-manager file-manager-window">
            <ng-container *ngFor="let fileSystemObject of fileSystemObjects;let i = index">
                <div *ngIf="fileSystemObject.isVisiable" [ngClass]="getFileSystemObjectClass(fileSystemObject)" (click)="fileSystemObjectOnClick($event, fileSystemObject)"
                    (dblclick)="fileSystemObjectOnDblClick($event, fileSystemObject)" (touchstart)="fileSystemObjectOnTouchStart($event, fileSystemObject)"
                    (touchend)="fileSystemObjectOnTouchEnd($event, fileSystemObject)">
                    <div class="f-content-area" title="{{fileSystemObject.displayName}}">
                        <i class="icon select fa fa-check-circle"></i>
                        <i [ngClass]="getFileSystemObjectIconClass(fileSystemObject)"></i>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="progress-bar-container">
            <div class="info">
                Space Limit:
                <span *ngIf="storageSpace" class="total-space">{{storageSpace.displayLimit | number : '1.0-2'}}{{storageSpace.displayLimitUnit}}</span>. &nbsp; Space Used:
                <span *ngIf="storageSpace" class="used-space">{{storageSpace.displayUsed | number : '1.0-2'}}{{storageSpace.displayUsedUnit}}</span>.
            </div>
            <span *ngIf="storageSpace" class="progress-bar" [ngStyle]="getProgressBarStyle(storageSpace)"></span>
        </div>
    </div>
</div>

<div id="upload_modal" class="modal">
    <form role="form" method="post" enctype="multipart/form-data">
        <div class="modal-header">
            <h4 class="modal-title">Upload Document</h4>
            <i class="modal-close fas fa-times right"></i>
        </div>
        <div class="modal-body">
            <input type="file" (change)="uploadDocumentInputChangeEvent($event)" class="file-input" name="document" id="document" data-show-remove="false"
                data-show-upload="false" data-show-preview="false" />
            <!-- <div *ngIf="invalidDocument" class="help-block">
                    <div class="text-danger">This is an invalid document format. Please select a valid document.</div>
                </div> -->
        </div>
        <div class="modal-footer">
            <button class="modal-close left btn grey lighten-5 grey-text text-darken-4" type="button">Cancle</button>
            <button class="modal-close btn" type="button" (click)="uploadDocumentButtonOnClick($event)">Upload</button>
        </div>
    </form>
</div>

<div id="new_directory_modal" class="modal">
    <form role="form" [formGroup]="newDirectoryForm" (ngSubmit)="newDirectoryFormOnSubmit($event, newDirectoryForm.value)" novalidate>
        <div class="modal-header">
            <h4 class="modal-title">New Directory</h4>
            <i class="modal-close fas fa-times right"></i>
        </div>
        <div class="modal-body">
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="New Folder"
                formControlName="name" />
        </div>
        <div class="modal-footer">
            <button class="modal-close left btn grey lighten-5 grey-text text-darken-4" type="button">Cancle</button>
            <button class="modal-close btn" type="submit">Create</button>
        </div>
    </form>
</div>

<div id="paste_modal" class="modal">
    <div class="modal-header">
        <h4 class="modal-title">Paste</h4>
        <i class="modal-close fas fa-times right"></i>
    </div>
    <div class="modal-body">
        <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
        <button class="modal-close left btn grey lighten-5 grey-text text-darken-4" type="button">Cancle</button>
        <button class="modal-close btn" type="button" (click)="pasteModalOnYesClick($event)">Yes</button>
    </div>
</div>

<div id="delete_modal" class="modal">
    <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
        <i class="modal-close fas fa-times right"></i>
    </div>
    <div class="modal-body">
        <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
        <button class="modal-close left btn grey lighten-5 grey-text text-darken-4" type="button">Cancle</button>
        <button class="modal-close btn" type="button" (click)="deleteModalOnYesClick($event)">Yes</button>
    </div>
</div>

<div id="rename_modal" class="modal">
    <form role="form" [formGroup]="renameForm" (ngSubmit)="renameFormOnSubmit($event, renameForm.value)" novalidate>
        <div class="modal-header">
            <h4 class="modal-title">Rename</h4>
            <i class="modal-close fas fa-times right"></i>
        </div>
        <div class="modal-body">
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Name" formControlName="name"
            />
        </div>
        <div class="modal-footer">
            <button class="modal-close left btn grey lighten-5 grey-text text-darken-4" type="button">Cancle</button>
            <button class="modal-close btn" type="submit">Rename</button>
        </div>
    </form>
</div>

<div id="share_modal" class="modal">
    <div class="modal-header">
        <h4 class="modal-title">Share</h4>
        <i class="modal-close fas fa-times right"></i>
    </div>
    <div class="modal-body">
        <p>share modal</p>
    </div>
    <div class="modal-footer">
        <button class="modal-close left btn grey lighten-5 grey-text text-darken-4" type="button">Cancle</button>
        <button class="modal-close btn" type="button">Share</button>
    </div>
</div>